<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CustomerProfileAccessorial">
    <resultMap id="CustomerProfileAccessorialMap" type="CustomerProfileAccessorialVo">
        <result column="profileid" property="profileId"/>
        <result column="accessorialid" property="accessorialId"/>
        <result column="amount" property="amount"/>
    </resultMap>
    <select id="selectByProfileId" resultMap="CustomerProfileAccessorialMap" parameterType="long">
        select * from xms_tbl_customer_profile_accessorial where profileid=#{profileId}
    </select>
</mapper>