<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="EventLog">
    <resultMap id="EventLogMap" type="EventLogVo">
        <result column="user_code" property="userCode"/>
        <result column="userid" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="action_date" property="actionDate"/>
        <result column="action_type" property="actionType"/>
        <result column="action_table" property="actionTable"/>
        <result column="filter" property="filter"/>
        <result column="changes_mode" property="changesMode"/>
        <result column="ip_address" property="ipAddress"/>
    </resultMap>
    <!-- select id="getAirbillChangeLog" parameterType="com.gms.xms.filter.AirbillChangeLogFilter" resultMap="EventLogMap">
        <bind name="condition1" value="'invoiceid = \'' + _parameter.getInvoiceId() + '\''" />
        <bind name="condition2" value="'shipmentid = \'' + _parameter.getShipmentId() + '\''" />
        select * from xms_tbl_eventlog
        <where>
            <if test="invoiceId!=null and invoiceId!=''">
                and filter = #{condition1}
            </if>
            <if test="shipmentId!=null and shipmentId!=''">
                and filter = #{condition2}
            </if>
        </where>
        <if test="orderBy!=null and orderBy!=''">
            order by ${orderBy}
        </if>
        <if test="startRecord!=null and pageSize!=null">
            limit #{startRecord}, #{pageSize}
        </if>
    </select-->
    <!-- select id="countAirbillChangeLog" parameterType="com.gms.xms.filter.AirbillChangeLogFilter" resultType="long">
        <bind name="condition1" value="'invoiceid = \'' + _parameter.getInvoiceId() + '\''" />
        <bind name="condition2" value="'shipmentid = \'' + _parameter.getShipmentId() + '\''" />
        select count(*) from xms_tbl_eventlog
        <where>
            <if test="invoiceId!=null and invoiceId!=''">
                and filter = #{condition1}
            </if>
            <if test="shipmentId!=null and shipmentId!=''">
                and filter = #{condition2}
            </if>
        </where>
    </select -->
    <select id="getAirbillChangeLog" parameterType="com.gms.xms.filter.AirbillChangeLogFilter" resultMap="EventLogMap">
        select * from xms_tbl_eventlog

        <where>
            <if test="invoiceId!=null and invoiceId!=''">
                <![CDATA[ and changes_mode like CONCAT('%invoiceid>',#{invoiceId},'>%') ]]>
            </if>
            <if test="shipmentId!=null and shipmentId!=''">
                <![CDATA[ and changes_mode like CONCAT('%shipmentid>',#{shipmentId},'>%') ]]>
            </if>
        </where>
        <if test="orderBy!=null and orderBy!=''">
            order by ${orderBy}
        </if>
        <if test="startRecord!=null and pageSize!=null">
            limit #{startRecord}, #{pageSize}
        </if>

    </select>
    <select id="countAirbillChangeLog" parameterType="com.gms.xms.filter.AirbillChangeLogFilter" resultType="long">
        select count(*) from xms_tbl_eventlog
        <where>
            <if test="invoiceId!=null and invoiceId!=''">
                <![CDATA[ and changes_mode like CONCAT('%invoiceid>',#{invoiceId},'>%') ]]>
            </if>
            <if test="shipmentId!=null and shipmentId!=''">
                <![CDATA[ and changes_mode like CONCAT('%shipmentid>',#{shipmentId},'>%') ]]>
            </if>
        </where>
    </select>
    <select id="selectListByFilter" resultMap="EventLogMap" parameterType="com.gms.xms.filter.admin.EventLogFilter">
        SELECT
        action_date,
        user_code,
        user_name,
        action_type,
        action_table,
        filter,
        changes_mode
        FROM xms_tbl_eventlog
        <where>
            <if test="fromDate != null and toDate != null">
                <![CDATA[
				AND action_date >= #{fromDate} AND action_date <
				DATE_ADD(#{toDate},INTERVAL 1 DAY)
				]]>
            </if>
            <if test="fromDate == null or  toDate == null">
                action_date = DATE(NOW())
            </if>
            <if test="userName != null">
                AND user_name LIKE CONCAT('%',#{userName},'%')
            </if>
            <if test="userCode != null">
                AND user_code LIKE CONCAT('%',#{userName},'%')
            </if>
            <if test="changesMode != null">
                AND changes_mode LIKE CONCAT('%',#{changesMode},'%')
            </if>
        </where>
        ORDER BY action_date ASC
        <if test="startRecord!=null and pageSize!=null">
            limit #{startRecord}, #{pageSize}
        </if>
    </select>


    <select id="selectCountListByFilter" resultType="long" parameterType="com.gms.xms.filter.admin.EventLogFilter">
        SELECT
        count(*)
        FROM
        xms_tbl_eventlog
        <where>
            <if test="fromDate != null and toDate != null">
                <![CDATA[
				AND action_date >= #{fromDate} AND action_date <
				DATE_ADD(#{toDate},INTERVAL 1 DAY)
				]]>
            </if>
            <if test="fromDate == null or  toDate == null">
                action_date = DATE(NOW())
            </if>
            <if test="userName != null">
                AND user_name LIKE CONCAT('%',#{userName},'%')
            </if>
            <if test="userCode != null">
                AND user_code LIKE CONCAT('%',#{userName},'%')
            </if>
            <if test="changesMode != null">
                AND changes_mode LIKE CONCAT('%',#{changesMode},'%')
            </if>
        </where>
    </select>

    <select id="selectByCustCode" parameterType="com.gms.xms.filter.eventlog.CustomerEventLogFilter"
            resultMap="EventLogMap">
        select
        action_date,
        user_code,
        user_name,
        action_type,
        action_table,
        filter,
        changes_mode
        from xms_tbl_eventlog
        where filter like concat('%customer_code = \'',#{customerCode},'\'%') or filter like concat('%franchise_code = \'',#{customerCode},'\'%')
        <if test="orderBy!=null and orderBy!=''">
            order by ${orderBy}
        </if>
        <if test="startRecord!=null and pageSize!=null">
            limit #{startRecord}, #{pageSize}
        </if>
    </select>

    <select id="selectByProfileId" parameterType="com.gms.xms.filter.eventlog.CustomerEventLogFilter"
            resultMap="EventLogMap">
        select
        action_date,
        user_code,
        user_name,
        action_type,
        action_table,
        filter,
        changes_mode
        from xms_tbl_eventlog
        where filter like concat('%profileid =
        \'',#{profileId},'\'%')
        <if test="orderBy!=null and orderBy!=''">
            order by ${orderBy}
        </if>
        <if test="startRecord!=null and pageSize!=null">
            limit #{startRecord}, #{pageSize}
        </if>
    </select>

    <select id="selectByProfileIdCount" parameterType="com.gms.xms.filter.eventlog.CustomerEventLogFilter"
            resultType="long">
        select count(*) from xms_tbl_eventlog
        where filter like
        concat('%profileid = \'',#{profileId},'\'%')
    </select>

    <select id="countByCustCode" parameterType="com.gms.xms.filter.eventlog.CustomerEventLogFilter" resultType="long">
        select count(*) from xms_tbl_eventlog
        where filter like
        concat('%customer_code = \'',#{customerCode},'\'%') or filter like
        concat('%franchise_code = \'',#{customerCode},'\'%')
    </select>

    <select id="selectInitValueShipmentBilling" parameterType="com.gms.xms.filter.admin.EventLogFilter"
            resultMap="EventLogMap">
        select
        *
        from xms_tbl_eventlog
        where action_type = #{actionType}
        and action_table = #{actionTable}
        and filter = ${filter}
        order by action_date
        limit 1
    </select>

    <insert id="insert" parameterType="com.gms.xms.txndb.vo.admin.EventLogVo">
        insert into xms_tbl_eventlog
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userCode != null">
                user_code,
            </if>
            <if test="userId != null">
                userid,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="actionDate != null">
                action_date,
            </if>
            <if test="actionType != null">
                action_type,
            </if>
            <if test="actionTable != null">
                action_table,
            </if>
            <if test="filter != null">
                filter,
            </if>
            <if test="changesMode != null">
                changes_mode,
            </if>
            <if test="ipAddress != null">
                ip_address,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userCode != null">
                #{userCode},
            </if>
            <if test="userId != null">
                #{userId},
            </if>
            <if test="userName != null">
                #{userName},
            </if>
            <if test="actionDate != null">
                #{actionDate},
            </if>
            <if test="actionType != null">
                #{actionType},
            </if>
            <if test="actionTable != null">
                #{actionTable},
            </if>
            <if test="filter != null">
                #{filter},
            </if>
            <if test="changesMode != null">
                #{changesMode},
            </if>
            <if test="ipAddress != null">
                #{ipAddress},
            </if>
        </trim>
    </insert>
    <select id="selectColumns" parameterType="String" resultType="map">
        SHOW COLUMNS FROM #str#
    </select>
</mapper>