<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="DhlZone">
    <resultMap type="com.gms.xms.txndb.vo.dhl.DhlZoneVo" id="DhlZone">
        <result column="dhl_countryname" property="dhlCountryName"/>
        <result column="state_code" property="stateCode"/>
        <result column="dhl_ap_zone" property="dhlApZone"/>
    </resultMap>
    <select id="getDhlZoneByFilter" resultMap="DhlZone" parameterType="DhlZoneFilter">
        <![CDATA[
				SELECT 
				    c.countryname AS dhl_countryname,
				    state_code,
				    dhl_zone AS dhl_ap_zone
				FROM
				    xms_tbl_state AS s
				        INNER JOIN
				    xms_tbl_country AS c ON c.countryid = s.countryid
				WHERE
				    (state_code = #{stateCode} AND state_name = #{cityName}
				        AND status = 1)
				        AND s.countryid = #{countryId}
				        AND dhl_zone <> '' 
				UNION SELECT 
				    c.countryname AS dhl_countryname,
				    state_code,
				    dhl_zone AS dhl_ap_zone
				FROM
				    xms_tbl_state AS s
				        INNER JOIN
				    xms_tbl_country AS c ON c.countryid = s.countryid
				WHERE
				    ((state_name = #{cityName} AND status = 0)
				        OR (state_code = #{stateCode} AND state_name = #{cityName}
				        AND status = 1))
				        AND s.countryid = #{countryId}
				        AND dhl_zone <> '' 
				UNION SELECT 
				    dc.dhl_countryname, dhl_ap_code, dhl_ap_zone
				FROM
				    xms_tbl_country AS c
				        LEFT JOIN
				    xms_tbl_dhl_country AS dc ON dc.dhl_countryname = c.countryname
				WHERE
				    c.countryid = #{countryId} LIMIT 1
				]]>
    </select>
</mapper>