<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="LanguageCode">
    <resultMap id="LanguageCodeMap" type="LanguageCodeVo">
        <result column="language_name" property="languageName"/>
        <result column="language_code" property="languageCode"/>
    </resultMap>

    <select id="selectLanguageCodeByLanguageName" parameterType="string" resultType="string">
        SELECT
        `language_code`
        FROM
        `xms_tbl_language_code`
        WHERE
        `language_name` = #{languageName}
    </select>
</mapper>