<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="WarrantyService">
    <select id="countWarrantyServiceShipment" parameterType="com.gms.xms.txndb.vo.ShipmentBillingFilter"
            resultType="int">
        SELECT
        count(*)
        FROM
        xms_tbl_shipment s
        LEFT JOIN
        xms_tbl_shipment_detail sd ON s.shipmentid = sd.shipmentid
        LEFT JOIN
        xms_tbl_accessorial a ON sd.accessorialid = a.accessorialid
        WHERE
        s.airbill_number = #{airbillNumber} and s.shipmentid = #{shipmentId}
        AND a.description LIKE 'Agl Warranty%';
    </select>
    <select id="countWarrantyServiceShipmentBilling" parameterType="com.gms.xms.txndb.vo.ShipmentBillingFilter"
            resultType="int">
        SELECT
        count(*)
        FROM
        xms_tbl_shipment_billing
        WHERE
        airbill_number = #{airbillNumber}
        <if test="shipmentId!=null">
            and shipmentid = #{shipmentId}
        </if>
        <if test="carrier!=null">
            and carrier = #{carrier}
        </if>
        AND description LIKE 'Agl Warranty%';
    </select>
</mapper>