<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TollIpecTotalRate">
    <resultMap id="TollIpecTotalRateMap" type="TollIpecTotalRateVo">
        <result column="customer" property="customer"/>
        <result column="unit" property="unit"/>
        <result column="service" property="service"/>
        <result column="source" property="source"/>
        <result column="destination" property="destination"/>
        <result column="type" property="type"/>
        <result column="start_range" property="startRange"/>
        <result column="range1" property="range1"/>
        <result column="range2" property="range2"/>
        <result column="range3" property="range3"/>
        <result column="range4" property="range4"/>
        <result column="range5" property="range5"/>
        <result column="range6" property="range6"/>
        <result column="range7" property="range7"/>
        <result column="charge1" property="charge1"/>
        <result column="charge2" property="charge2"/>
        <result column="charge3" property="charge3"/>
        <result column="charge4" property="charge4"/>
        <result column="charge5" property="charge5"/>
        <result column="charge6" property="charge6"/>
        <result column="charge7" property="charge7"/>
        <result column="cubic" property="cubic"/>
        <result column="minimum" property="minimum"/>
        <result column="additional" property="additional"/>
        <result column="surcharge" property="surcharge"/>
    </resultMap>
    <select id="selectByFilter" parameterType="TollIpecTotalRateFilter" resultMap="TollIpecTotalRateMap">
        select * from xms_tbl_toll_ipec_total_rate where source=#{fromZone} and destination=#{toZone}
    </select>
</mapper>